html {
  font-size: clamp(12px, 1.2vw, 16px);
  scroll-behavior: smooth;
  background-color: #0D1117;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.home {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #0D1117;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.navbar {
  width: 50%;
  display: flex;
  gap: 9%;
  padding: 1rem 2rem;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}

.nav-options {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-options::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #00f0ff;
  transition: width 0.4s ease-in-out;
}

.home-btn::after {
  width: 100%;
}

.home-btn {
  color: #00f0ff;
}

.nav-options:hover {
  color: #00f0ff;
}

.nav-options:hover::after {
  width: 100%;
}

.port-heading {
  display: inline-block;
  color: #fff;
}

@media (max-width: 450px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .port-heading {
    display: none;
  }

  .navbar {
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-options {
    font-size: 1rem;
  }
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 3rem;
  /* gap: 0.5rem; */
  font-size: 2rem;
}

.home-text h2 {
  font-size: 1rem;
}

.home-text h1 {
  font-size: 3rem;
}

.home-text h3 {
  font-size: 1.1rem;
}

.fa-brands {
  transition: all 0.3s ease-in-out;
}

.fa-brands:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.home-text {
  padding-left: 1rem;
}

.home-animation {
  height: 25rem;
}

@media (max-width: 450px) {
  .home-content {
    flex-direction: column;
  }
}

/* ------------------------------------------------Skills------------------------------------------------- */
.skills {
  margin-left: auto;
  margin-right: auto;
  background-color: #0D1117;
  width: 90%;
  position: relative;
  z-index: 2;
  padding: 1.5rem 2rem 4rem 2rem;
  margin-top: 110vh;
  margin-bottom: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5),
              0 0 40px rgba(255, 255, 255, 0.3),
              0 0 60px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
}

.skills h1 {
  font-size: 2rem;
  color: white;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 3rem;
}

li {
  border: 2px solid white;
  border-radius: 1rem;
  padding: 8px;
  margin-top: 1rem;
  list-style: none;
  height: 5rem;
  width: 5rem;
  background-color: #222;
  transition: all 0.3s ease-in-out;
}

li:hover {
  transform: scale(1.1);
}

#html-icon {
  fill: #E44D26;
}

#css-icon {
  fill: #264DE4;
}

#js-icon {
  fill: #F7DF1E;
}

#java-icon {
  color: #EA2D2E;
}

#git-icon {
  fill: #F05032;
}

#github-icon {
  fill: #ffffff;
}

#nodejs-icon {
  fill: #339933;
}

#express-icon {
  fill: #fff;
}

#sql-icon {
  fill: #4479A1;
}

#mongodb-icon {
  fill: #47A248;
}

#mongoose-icon {
  fill: #F04D35;
}

#icon-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#icon-heading {
  padding-top: 0.5rem;
  color: rgba(255, 255, 255, 0.77);
  font-weight: 100;
  font-size: medium;
}